<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="public/img/logo.avif" alt="" style="width: 110px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NewSletter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subcribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop">Menu <i
                class="fa-solid fa-angles-down"></i></a>
          </li>


        </ul>

      </div>
    </div>
  </nav>
  <div class="offcanvas offcanvas-top text-bg-dark h-100" tabindex="-1" id="offcanvasTop"
    aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5></h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row">
        <div class="col-md-8">
          <h5>Topic</h5>
          <ul class="offcanvas-menu">
            <li><a href="">Animals</a></li>
            <li><a href="">Environment</a></li>
            <li><a href="">History & Culture</a></li>
            <li><a href="">Science</a></li>
            <li><a href="">Travel</a></li>

          </ul>
        </div>
        <div class="col-md-4">
          <h5>Sites</h5>
          <ul class="offcanvas-menu offcanvas-menu-sm">
            <li><a href="">WATCH TV!</a></li>
            <li><a href="">READ THE MAGAZINE</a></li>
            <li><a href="">VISIT NAT GEO FAMILY</a></li>
            <li><a href="">BOOK A TRIP</a></li>
            <li><a href="">INSPIRE YOUR KIDS</a></li>
            <li><a href="">LISTEN TO PODCASTS</a></li>
            <li><a href="">SHOP NAT GEO</a></li>
            <li><a href="">ATTEND A LIVE EVENT</a></li>
            <li><a href="">LEARN ABOUT OUR IMPACT</a></li>
            <li><a href="">SUPPORT OUR MISSION</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>